body {
  background-color: rgb(16, 0, 54);
}

/* board */
#board {
  width: 600px;
  height: 440px;
  border: 1px solid white;
  background: black;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
#board * { position: absolute }

/* middle line divider */
#divider {
  border: 5px white;
  border-style: none none none dashed;
  width: 0;
  height: 100%;
  margin-left: calc(50% - 5px / 2);
  top:0px
}

/* pong ball */
#ball {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  /* border: 3px solid black; */
  box-shadow: 0px 0 10px 0px black;
  z-index: 2
}

/* paddles */
.paddle {
  width: 15px;
  height: 150px;
  background: white;
  border: 10px solid;
  border-radius: 999px;
}

/* score keeper */
#score {
  justify-content: space-between;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10px;
  height: 50px;
  width: 100px;
}

/* number in score keeper */
#score > span {
  position: relative;
  color: white;
  font-family: monospace;
  font-size: 30px;
}

/* the title text at the top */
h1 {
  color: white;
  font-family: monospace;
}