
body {
  background-image: url(./bg.jpeg);
  background-size: cover;
}

#board {
  width: 440px;
  height: 440px;
  border: 5px inset white;
  background: black;
}

.text-holder {
  width: 450px;
  display: inline-flex;
  justify-content: space-between
}

#score, #highScore {
  color: white;
  font-family: monospace;
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: rgb(255, 128, 128);
  z-index: 1;
}